#tree-holder{
  height:100%;
  width:100%;
  position: absolute;
  z-index: 0;
}

#sidebar{
  position: absolute;
  padding:20px;
  border:solid;
  border-radius: 3px;
  border-color:black;
  width:200px;
  display: inline-block;
  z-index: 1;
  background-color: lightgray;
  font-family: Sans-serif;
}

.first-ele{
  display:block;
}